body { background: #ca527c; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 26px; display: flex; }
.block-database-0 { color: #80255e; font-size: 20px; margin-bottom: 5px; }
.block-filter-1 { color: #55c78c; font-size: 17px; margin-bottom: 5px; }
.block-metrics-2 { color: #2e4f6c; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #f856a7; font-size: 18px; margin-bottom: 5px; }
.block-shipping-4 { color: #60a6dd; font-size: 16px; margin-bottom: 5px; }
.block-cluster-5 { color: #a75607; font-size: 14px; margin-bottom: 5px; }
.block-helper-6 { color: #519fa1; font-size: 20px; margin-bottom: 5px; }